/*style globale de la page*/
			body{
			background-image: url("hci-certificate.jpg");
			background-size: 100%;
    		margin-top: 10%;
			}

			table {
			border-collapse:collapse;
 			border-width:1px; 
 			border-style:solid; 
 			border-color:black;
 			}

			td { 
			text-align:center;
 			border-width:1px;
			border-style:solid; 
 			border-color:black;
			width:150px;
			height: 75px;
			}

			th { 
 			border-width:1px;
			border-style:solid; 
 			border-color:black;
			width:150px;
			height: 75px;
			}

			footer {
			position: relative;
			bottom: -100px;
			left: -25px;
   			width: 1600px;
   			height: 60px;
    		background:#F0F0F0;
    		border:0px solid #CCC;
    		text-align: center;
			}

			.rowbox	{
			display: inline-flex;
			}

			.header {
			display: block;
			position:fixed;
			text-align: center;
    		left: 10px;
    		top :10px;
   			width: 1110px;
   			border-radius: 5%/5%;
    		border:5px solid blue;
			}

			#catimg {
			height: 10%;
   			width: 5%;
			}

			div > form {
			display: flex;
			flex-direction: column;
			padding: 15px;
			}

			.formulaire {
			position:fixed;
    		margin-left: 50px;
    		border:5px solid blue;
    		border-radius: 5%;
    		top: 0px;
   			width: 300px;
   			right: 30px; 
			}

			input:valid{
			background: #CFF9B7;
			}

			input:invalid{
			background: #F9B7B7;
			}

			.content {
   			display: flex;
   			flex-direction: column;
    		position:relative;
    		border:5px solid blue;
    		border-radius: 2%;
   			margin: auto;
   			top: 10px;
   			padding: 10px;
    		background: #FFFFFF;
   			width: 1100px;		
			}

			.content h3 {
			color: red;
			text-decoration: underline;
			}

			.souligne {
			text-decoration: underline;
			}

			nav ul{
			list-style: none;
			}

			.nav {
			display: inline-flex;
			list-style: none;
			position:fixed;
    		border:5px solid blue;
    		border-radius: 5%;
    		top:370px;
   			width: 300px;
   			right: 30px; 
   			}

   			.nav div {
   			text-align: center;
   			background: red;
   			border:2px solid black;
   			border-radius: 10%/10%;
   			transition: background 0.5s, transform 0.5s;
   			transition: width 0.5s, height 0.5s, background 0.5s, transform 0.5s;
   			}

   			.nav div:hover {
   			background: #FFF;
   			border:2px solid red;
   			transform: rotate(360deg);
   			/*animation-duration: 2s;
   			animation-name: helico;
   			animation-iteration-count: 1;
   			animation-direction: alternate;*/
   			}

   			a:visited {
   			color: blue;
   			}

   			/*@keyframes helico {
   				from { margin-left: 0%;

   				}
   				50%{ margin-top: 25%;

   				}
   				to { margin-right: 100%;

   				}
   			}*/

   			
/*style des exemples énoncés*/
#metal1 {
z-index: 1;
position: relative; 
top : 0px;
left: 0px;
text-align: center;
background-image:url(https://s-media-cache-ak0.pinimg.com/564x/4e/0b/10/4e0b10c6c41b1291b05c6122e33a0931.jpg );
}

#metal2 {
z-index: 2;
position: relative; 
top : -150px;
left:  150px;
background-image:url(http://images.memes.com/meme/838184);
}

#metal3 {
z-index: 3;
position: relative; 
top : -300px;
left: 300px;
background-image:url(https://s-media-cache-ak0.pinimg.com/564x/2e/78/15/2e78151b6b5997c64b77f5f902c75819.jpg);
}


.colorfontform {
border-radius: 30%/80%;
height: 300px;
width: 300px;
border:5px solid #000;
background-size: 100%;
text-align: center;
color: red;
font-size: 20;
}

#inspecteur {
height: 15%%;
width:70%;
 }
